.Education{
  background-color: #225a68;
  color: aliceblue;
  padding: 45px;
}

.containerEducation{
  display: flex;
  flex-wrap: wrap;
}

.cardEd {
  display: flex;
  flex-direction: row;
  font-size: medium;
  margin-top: 10px;
}

.cardEd img {
  height: 45px;
  border-radius: 15%;
  margin-right: 15px;
  margin-left: 15px;
}

.detailEd {
  display: flex;
  flex-direction: column;
}
