.Education{
  background-color: #1a5a69;
  color: aliceblue;
  padding: 45px;
}

.containerEducation{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardEd {
  display: flex;
  flex-direction: row;
  font-size: medium;
  margin-top: 10px;
  min-width: 400px;
}

.cardEd img {
  height: 45px;
  border-radius: 15%;
  margin-right: 15px;
  margin-left: 15px;
}

.detailEd {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .cardEd {
    min-width: 320px;
  }
}