.containerSkill{
    color:aliceblue;
    padding: 45px;
    background-color: #2a7385;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.skills ul{
    min-width: max-content;
}

.skillTech ul li{
    list-style: none;
}

.skillTech .skills{
    /* padding: 15px; */
    /* width: -webkit-fill-available; */
    min-width: max-content;
}
.softSkills .skills{
    /* padding: 15px; */
    min-width: max-content;
}
.icono{
    margin-bottom: 5px;
    color: rgb(255, 157, 11);
}
.softSkills li{
    color: rgb(255, 157, 11);
}
.softSkills li span{
    color: aliceblue;
}

@media (max-width: 500px) {
	.containerSkill h2 {
    text-align: -webkit-center;
    margin-bottom: 10px;
  }
}