.containerSkill{
    color:aliceblue;
    padding: 45px;
    background-color: #2a7385;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills ul{
    min-width: 191px;
}

.skillTech ul li{
    list-style: none;
}

.skillTech .skills{
    padding: 15px;
}
.softSkills .skills{
    padding: 15px;
}
.icono{
    margin-bottom: 5px;
    color: rgb(255, 157, 11);
}
.softSkills li{
    color: rgb(255, 157, 11);
}
.softSkills li span{
    color: aliceblue;
}
