.containerAbout{
  display: flex;
  background-color: #368497;
  height: auto;
  padding: 45px;
  flex-direction: column;
}

.About {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
  
}

.datos{
  border-style: solid;
  border-width: 3px;
  border-color: #f2f2f2;
  border-radius: 3px;
  padding: 20px;
  width: 300px;
  justify-content: center;
}

.section{
  width: 50vw;
  min-width: 400px;
}

.text {
  /* overflow: hidden; */
  /* width: 50vw; */
  height: 50vh;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  font-size: small;
  color: rgb(221, 220, 220);
}

.containerAbout h2 {
  color: rgb(221, 220, 220);
}

.phrase{
    margin-bottom: 0;
    font-size: small;
    font-style: italic;
    color: rgb(230, 233, 233);
    margin-left: 5%;
}

.photo img{
    width: 250px;
    height: 300px;
    border-radius: 5%;
}